{% extends "base.html" %}
{% block content %}

<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
        </br>
        </br>
            <h2>Dating a Kardashian: Who, Why, and Where are they now?</h2>   
            <p>Confirm your suspicions about the kurse of the kardashians by joining our kommunity! 
                Talk with others just like you who want justice for those affected by the Kardashian Kurse!
            </p>
            <div>
                
                <button class = "btn btn-block">Read our Newsletter</button>
                <button class = "btn btn-block">Join Our Channel</button>
            </div>
        </div>
   
        <div class = "col-12 col-md-6" id="header-image">
            <img src= "../static/images/kim.jpg" alt = "Hero Header Image"> 
        </div>
    </header>
  
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Join the Kommunity!</h2>
            <p>Do You Believe in the
                <a href="https://www.the-sun.com/entertainment/3138806/inside-the-kardashian-curse-bad-luck-kanye-lamar-kris/">Kardashian Kurse?</a> 
            </p>
            
        </div>
    </section>
   
    <section class="row" id="features-section">
        <div class = "col-12 col-md-4">
            <img src = "../../static/images/pete.jpg" alt = "pete image" id="pete-image">
            <h4>Extra, Extra, Read All About It!</h4>
            <p>
                If you want to know who has ever dated/married a Kardashian, you're in the right place! 
            </p>
        </div>

        <div class = "col-12 col-md-4">
            <img src = "../../static/images/koko.jpg" alt="koko-image" id="koko-image">
            </br>
            <h4>Who's Your Daddy?</h4>
            <p>
                If they're in the Kardashian Klan, odds are, their dad is super rich & famous. 
            </p>
        </div>

        <div class = "col-12 col-md-4">
            
            <img src="../../static/images/kris.jpg" alt="kris image" id="kris-image">
            <h4>XOXO, Kossip Kirl.</h4>
            <p>
                Join the Konversation with trivia and factoids about likely very traumatized Kardashian adjacent human beings.
            </p>
        </div>
    </section>
    </div>

    <section class="row">
        <div class="col-12 col-md-6">
            <img src = "../../static/images/kanye.jpg" alt="kanye image" id="kanye-image">
        </div>

        <div class="col-12 col-md-6" id="krazies">
            <h4>Chat with other Kardashian Krazies!</h4>
            <p>
                Share your knowledge and insights about this wacky wealthy family!!!
            </p>
            <div id = "krazies-btn">
                <button class="btn btn-block">Sign Our Petition!</button>
                <button class="btn btn-block">Join the Kause</button>
            </div>
        </div>
    </section>

    <footer class="row" id="footer">
        <div class="col-12 col-md-3">
            <div class="footer-text-flex">
            </br>
                <h4>EX marks the spot!</h4>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <div class="footer-text-flex">
            </br>
                <h4>Kontact Us!</h4>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <div class="footer-text-flex">
            </br>
                <h4>Done8 2 the Kause</h4>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <div class="footer-text-flex">
            </br>
                <h4>Get our Newsletter</h4>
            </div>
        </div>
    </footer>
</div>

{% endblock content %}